@{
    ViewBag.Title = "Home Page";
}
<h4>Welcome to Bug Tracker! You have reached the home page (index).</h4>
<p>Content goes here</p>
<a href="dashboard" id="dashBtn" class="btn btn-primary">
    View Dashboard
</a>
<script src="~/js/index.js"></script>